@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Sometype+Mono:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.menu {
    color: #00A9FF;
    text-shadow: 0 0 10px rgba(0, 169, 255, 0.7);;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.menu:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 169, 255, 0.9);
}

.tombol {
    background-color: #00A9FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 169, 255, 0.7);
}

.tombol:hover {
    background-color: #21b4ff;
    box-shadow: 0 0 10px rgba(0, 169, 255, 0.9);
}

.card {
    border: 2px solid #191825;
    border-radius: 15px;
    background: #FEFEFE;
}

.navbar {
    width: 100%;
    height: 4rem;
    background: #191825;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.landing {
    height: calc(100vh - 4rem);
    background: #232D3F;
}

.landing img {
    border: 3px solid #00A9FF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 169, 255, 0.7);
    height: 300px;
}

.konten {
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.konten .teks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #FEFEFE;
}

.tentang {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}

.karya {
    background: #232D3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.rangkuman {
    font-size: 16px;
    font-family: 'Sometype Mono', monospace;
    text-align: justify;
}